{% extends 'layout.html' %} {% block title %}Tags{% endblock %} {% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.min.css">
<link rel="stylesheet" href="{{ base_url() }}/styles/table.css">{% endblock %} {% block content %} {% if id %} {% if id==1 %}
<h2 style="text-align: center; margin-top: 45px; color: rgb(7, 0, 0); position: relative;"> PROBLEM TAGS </h2>
{% else %}
<h2 style="text-align: center; margin-top: 45px; color: rgb(7, 0, 0); position: relative;"> PRIVATE TAGS </h2>
{% endif %}
<table id='table'>
    <thead>
        <th> Tag No. </th>
        <th> Tag </th>
        <th> Type </th>
        <th> Problem Count </th>
        {% if private %}
        <th></th>
        {% endif %}
    </thead>
    <tbody>
        {% for val in tags %}
        <tr>
            <th>{{val[0]}}</th>
            <th><a class='tags' href='{{tlink}}{{val[1]}}'>{{val[1]}}</a></th>
            <th>{{val[2]}}</th>
            <th>{{val[3]}}</th>
            {% if private %}
            <th style="padding: 5px 35px;"><button class='btn btn-info btn-lg' style="font-size: 13px; background-color:  red;" onclick="delTag(this)" ; onMouseOver="this.style.background='rgb(117, 4, 4)'" ; onMouseOut="this.style.background='red'" ;>Delete All</button></th>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h2 style="text-align: center; margin-top: 75px; color: rgb(7, 0, 0); position: relative; font-family: cursive;">#{{tag}}</h2>
<table id='table'>
    <thead>
        <th> Question Code </th>
        <th> Author </th>
        <th> Successful Submission </th>
        <th> Attempted </th>
        <th> Accuracy (%)</th>
        {% if isLoggedin %}
        <th></th>
        {% if private %}
        <th></th>
        {% endif %} {% endif %}
    </thead>
    <tbody>
        {% for val in problem %}
        <tr>
            <th><a class='tags' href='{{qlink}}{{val[0]}}'>{{val[0]}}</a></th>
            <th>{{val[1]}}</th>
            <th>{{val[2]}}</th>
            <th>{{val[3]}}</th>
            <th>{{val[4]}}</th>
            {% if isLoggedin %}
            <th style="padding: 5px 35px;"><button type='button' class='btn btn-info btn-lg' data-toggle='modal' data-target='#myModal' style="font-size: 13px;
                        background-color: #337ab7;" onMouseOver="this.style.background='#2a6394'" ; onclick="addTag(this)" onMouseOut="this.style.background='#337ab7'" ;>Add Tag</button></th>

            {% if private %}
            <th style="padding: 5px 35px;"><button class='btn btn-info btn-lg' style="font-size: 13px; background-color:  red;" onMouseOver="this.style.background='rgb(117, 4, 4)'" ; onclick="delQues(this)" ; onMouseOut="this.style.background='red'" ;>Delete</button></th>
            {% endif %} {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %} {% include 'modal.html' %}
<script src="{{ base_url() }}/scripts/addTag.js "></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.js"></script>

{% endblock %}