table {
    background-color: #fff;
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

table th,
table td {
    padding: 12px 45px;
    text-align: center;
}

table tbody tr {
    border-bottom: 1px solid #b4b1b1;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

table tbody tr.active-row {
    /* font-weight: bold; */
    color: #009879;
}

.material-icons {
    cursor: pointer;
    text-align: center;
}

a.tags {
    color: blue;
}

a.tags:hover {
    color: red;
}

a.code {
    color: blue;
}

a.code:hover {
    color: red;
}